<div class="row">
  <div class="col-12">
    <form>
      <div class="row">
        <div class="col-12">
          <button type="submit" class="btn btn-success">Save</button>
          <button type="button" class="btn btn-danger">Cancel</button>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <label for="firstName">First Name</label>
          <input type="text" id="firstName" class="form-control">
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <label for="lastName">Last Name</label>
          <input type="text" id="firstName" class="form-control">
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <label for="codiceFiscale">codiceFiscale</label>
          <input type="text" id="codiceFiscale" class="form-control">
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <label for="partitaIva">partitaIva</label>
          <input type="text" id="partitaIva" class="form-control">
        </div>
      </div>
      <hr>
      <fieldset>
        <legend>Email <span type="button" class="btn btn-info">+</span></legend>
        <div class="row">
          <div class="col-12">

            <div class="row">
              <div class="col-12">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <input type="radio" aria-label="Radio button for following text input">
                    </div>
                  </div>

                  <input type="text" class="form-control" placeholder="email">
                  
                  <div class="input-group-append">
                    <div class="input-group-text">
                      <input type="checkbox" aria-label="Checkbox for following text input">
                      Pec
                    </div>
                  </div>
                  <div class="input-group-append">
                    <button type="button" class="btn btn-danger">X</button>
                  </div>
                </div>

              </div>
            </div>

          </div>
        </div>
      </fieldset>
      <hr>
      <fieldset>
        
        <legend>Address <span type="button" class="btn btn-info">+</span></legend>
        <div class="row">
          <div class="col-12">

            <div class="row">
              <div class="col-12">
                
                <button type="button" class="btn btn-danger">X</button>
                
                <div class="row">
                  <div class="col-12">
                    <label for="street">Street</label>
                    <input type="text" id="street" class="form-control">
                  </div>
                </div>
          
                <div class="row">
                  <div class="col-12">
                    <label for="number">Number</label>
                    <input type="text" id="number" class="form-control">
                  </div>
                </div>
          
                <div class="row">
                  <div class="col-12">
                    <label for="city">City</label>
                    <input type="text" id="city" class="form-control">
                  </div>
                </div>
          
                <div class="row">
                  <div class="col-12">
                    <label for="country">Country</label>
                    <input type="text" id="country" class="form-control">
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>