<a
  [routerLink]="[index]"
  routerLinkActive="active"
  class="list-group-item clearfix m-2" style="cursor: pointer"
  [ngStyle]="{'box-shadow': shadow}" (mouseover)="changeStyle($event)"
  (mouseout)="changeStyle($event)">
  <div class="float-left">
    <h4 class="list-group-item-heading">{{recipe.name}}</h4>
    <p class="list-group-item-text">{{recipe.description}}</p>
  </div>
  <span class="float-right m-3">
    <img [src]="recipe.imagePath" alt="{{recipe.name}}" class="img-responsive m-1" style="max-height: 50px;">
  </span>
</a> 